<style>
    .hostel_summary_box{
        width: 50%;
    }
    .hostel_summary_title{
        width: 100%;
        background-color: rgb(255, 187, 155);
        border-radius: 5px;
        padding: 5px;
        text-align: center;
        font-weight: 700;
                border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .hostel_summary_head{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        background-color: rgb(255, 187, 155);
        padding: 1px;
        gap: 1px;
        font-weight: 700;
    }
    .hostel_summary_head div {
        background-color: white;
        text-align: center;
    }
    .hostel_summary_body{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        background-color: rgb(255, 187, 155);
        padding: 1px;
        gap: 1px;
    }
    .hostel_summary_body div {
        text-align: center;
        background-color: white;
    }
</style>
<div class="container">
    <div class="hostel_summary_box">
        <div class="hostel_summary_title"> Hostel Summary <d style="font-weight: 400;margin-left: 10px;">M {{male_student}} &nbsp;&nbsp;&nbsp; F {{female_student}} &nbsp;&nbsp;&nbsp; T {{total_student}}</d>  </div>
        <div class="hostel_summary_head">
            <div>Installment</div>
            <div>Total</div>
            <div class="text-danger">Pending</div>
            <div class="text-success">Received</div>
        </div>
        {% for i in installment %}
        <div class="hostel_summary_body">
            <div style="position: relative;padding-bottom: 20px;">
                {{i.name}} ₹{{i.amount}}
            <div style="position: absolute;right: 10px;bottom: 0;">M {{i.male_student}} &nbsp;&nbsp;&nbsp; F {{i.female_student}} &nbsp;&nbsp;&nbsp; T {{i.total_student}}</div>
            </div>
            <div>{{i.total_amount}}</div>
            <div class="text-danger">{{i.pending}}</div>
            <div class="text-success">{{i.received}}</div>
        </div>
        {% endfor  %}
        <div class="hostel_summary_body">
            <div style="font-weight: 700;">Total</div>
            <div style="font-weight: 700;">{{all_total_amount}}</div>
            <div style="font-weight: 700;" class="text-danger">{{all_pending}}</div>
            <div style="font-weight: 700;" class="text-success">{{all_received}}</div>
        </div>
    </div>
</div>
<br><br>