{% load static %}
{% load admin_tag %}
<style>
/* NavBar Start */
    .navbar{
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgb(255, 255, 255) !important;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        z-index: +645456132496;
        display: flex !important;
    }
/* NavBar End */
</style>
<style>
    .side_btn{
        transform: rotate(90deg);
        background-color: rgba(240, 248, 255, 0);
        border: none;
        font-size: 25px;
        width: fit-content;
    }
    .href_btn{
      background-color: #343a40;
      border-radius: 10px;
      color: white !important;

    }
    .href_btn:hover{
        background-color: #0080ff;
        border-radius: 10px;
        color: white !important;
    }
    .at_page{
      background-color: #0080ff;
      border-radius: 10px;
      color: white !important;
      }
      .offcanvas{
        width: 20%;
      }   
      @media screen and (max-width: 450px) {
        .offcanvas {
          width: 80%;
        }
        .navbar-brand {
          font-size: 14px;
        }
        .side_btn {
          font-size: 20px;
        }
        .href_btn {
          font-size: 12px;
          padding: 5px 10px;
        }
      }
  </style>
<nav class="navbar navbar-expand-lg bg-body-tertiary">

    <div class="container-fluid">
        <button class="btn side_btn form-control" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">|||</button>
        <img src="{% static 'img/logo.jpg' %}" width="40px" style="border-radius: 50%;" alt="">
      <a class="navbar-brand" style="font-weight: 700;" href="/#home"> &nbsp; DattaKala </a>
      <div class="collapse navbar-collapse" style="position: relative;" id="navbarNavDropdown">
        {{clerk.batch.name}}
        <div style="position: absolute;right: 10px;top: 10px;">
          Welcome - {{clerk.name}}
        </div>
      </div>
    </div>
  </nav>



  <div class="offcanvas offcanvas-start" style="z-index: +654654654645;" data-bs-scroll="true" tabindex="+1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
        <img src="{% static 'img/logo.jpg' %}" width="40px" style="border-radius: 50%;" alt="">
      <a class="navbar-brand" style="font-weight: 700;" href="/#home"> &nbsp; DattaKala</a>
      </h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      {{clerk.batch.name}}

      <div><i class="fa-solid fa-house"></i> &nbsp; <a href="/office/office_home/" class="btn {% if request.path == '/office/office_home/' %} at_page {% endif %}">Home</a></div>



      <div>
            <i class="fa-solid fa-user-tie"></i> &nbsp;
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#student" aria-expanded="false" aria-controls="collapseExample">Student</button>

            <div class="collapse" id="student" style="width: 90%;margin-left: auto;margin-right: 20px;">
              <div class="card card-body">
                <a href="/office/add_student/" class="btn href_btn {% if request.path == '/office/add_student/' %} at_page {% endif %}">Add & View Student</a>
                <a href="/office/download_qr_code/" class="btn href_btn {% if request.path == '/office/download_qr_code/' %} at_page {% endif %} mt-2"><i class="fa fa-download" aria-hidden="true"></i> Student Self Registration QR Code</a>
                <a href="/office/address/" class="btn href_btn {% if request.path == '/office/address/' %} at_page {% endif %} mt-2">Address</a>
                <a href="/office/cast_category/" class="btn href_btn {% if request.path == '/office/cast_category/' %} at_page {% endif %} mt-2">Cast Category</a>
              </div>
            </div>
      </div>
      <div>
        <i class="fa-solid fa-indian-rupee-sign"></i>&nbsp;
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#account" aria-expanded="false" aria-controls="collapseExample">Account</button>
        
        <div class="collapse" id="account" style="width: 90%;margin-left: auto;margin-right: 20px;">
          <div class="card card-body">
            <a href="/account/student_fees/" class="btn href_btn mt-2 {% if request.path == '/office/student_fees/' %} at_page {% endif %}">Student Fees</a>
                <a href="/account/office_expenses/" class="btn href_btn mt-2 {% if request.path == '/office/office_expenses/' %} at_page {% endif %}">Expenses</a>
                <a href="/account/office_cash_transfer/" class="btn href_btn mt-2 {% if request.path == '/office/office_cash_transfer/' %} at_page {% endif %}">Cash Transfer</a>
                <a href="/account/office_account_category/" class="btn href_btn mt-2 {% if request.path == '/office/office_account_category/' %} at_page {% endif %}">Category</a>
                <a href="/account/add_bank_account/" class="btn href_btn mt-2 {% if request.path == '/office/add_bank_account/' %} at_page {% endif %}">Add Bank Account</a>
                <a href="/account/add_bank_opening_balance/" class="btn mt-2 href_btn {% if request.path == '/office/add_bank_opening_balance/' %} at_page {% endif %}">Add Bank Opening Balance</a>
                <a href="/account/hostel_fee/" class="btn mt-2 href_btn {% if request.path == '/office/hostel_fee/' %} at_page {% endif %}">Generate Hostel Fee</a>
              </div>
            </div>
          </div>
          <div>
                <i class="fa-solid fa-square-poll-vertical"></i> &nbsp;
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#report" aria-expanded="false" aria-controls="collapseExample">Report</button>

                <div class="collapse" id="report" style="width: 90%;margin-left: auto;margin-right: 20px;">
                  <div class="card card-body">
                    <a href="/report/hostel/" class="btn href_btn {% if request.path == '/report/hostel/' %} at_page {% endif %}">Hostel</a>
                    <a href="/report/student/" class="btn href_btn {% if request.path == '/report/student/' %} at_page {% endif %} mt-2">Student</a>
                  </div>
                </div>
          </div>
          <div>
        <i class="fa-solid fa-building"></i> &nbsp;
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#college" aria-expanded="false" aria-controls="collapseExample">Colleges</button>

            <div class="collapse" id="college" style="width: 90%;margin-left: auto;margin-right: 20px;">
              <div class="card card-body">
                <a href="/office/add_college/" class="btn href_btn {% if request.path == '/office/add_college/' %} at_page {% endif %}">Add Colleges</a>
                <a href="/office/add_branch/" class="btn mt-2 href_btn {% if request.path == '/office/add_branch/' %} at_page {% endif %}">Add Branch</a>
                <a href="/office/add_year/" class="btn mt-2 href_btn {% if request.path == '/office/add_year/' %} at_page {% endif %}">Add Year</a>
              </div>
            </div>

        </div>
          <div>
            <i class="fa-solid fa-circle-user"></i>
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#employee" aria-expanded="false" aria-controls="collapseExample">Employee</button>
            
            <div class="collapse" id="employee" style="width: 90%;margin-left: auto;margin-right: 20px;">
              <div class="card card-body">
                <a href="/office/add_employee/" class="btn href_btn {% if request.path == '/office/add_employee/' %} at_page {% endif %}">Add & view Employee</a>
              </div>
            </div>
          </div>


          <i class="fa-solid fa-address-card"></i> &nbsp; <a href="/office/profile/" class="btn {% if request.path == '/office/profile/' %} at_page {% endif %}">Profile</a></div>
          <a href="/office_logout/" class="btn text-danger" style="position: relative;" >LogOut    <h class="text-dark" style="position: absolute;right: 10px;" id="timer"></h></div></a>
        </div>
      </div>

      <script>
    const totalSeconds = 180;
    const timerElement = document.getElementById('timer');
    let secondsRemaining = totalSeconds;
    let interval;

        function updateDisplay() {
        const mins = Math.floor(secondsRemaining / 60).toString().padStart(2, '0');
        const secs = (secondsRemaining % 60).toString().padStart(2, '0');
        timerElement.textContent = `${mins}:${secs}`;
    }
    function countdown() {
      updateDisplay();
      if (secondsRemaining <= 0) {
        clearInterval(interval);
        location.href = '/office_logout/'
        return;
      }
      secondsRemaining--;
    }


    updateDisplay();
    interval = setInterval(countdown, 1000);

      </script>