
      <style>
        .parent_details{
          background-color: aquamarine;
        }
        .form-label {
          font-weight: 600;
        }
        .form-control, .form-select {
          border-radius: 8px;
        }
        .shadow {
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
        }
        .btn-primary {
          font-size: 1rem;
          font-weight: 600;
          border-radius: 8px;
        }
      </style>
      <div class="container mt-5 mb-5 p-4 shadow rounded bg-light">
        <form method="POST">
          {% csrf_token %}
          <input type="hidden" name="s_id" value="{{student.id}}">
          <div class="row g-3">            
            
            <div class="col-md-5">
              <label class="form-label">Is Father Alive</label>
              <select class="form-select" name="is_father_alive" required>
                <option value="">Select</option>
                <option value="Yes" {% if student.is_father_alive == 'Yes' %} selected {% endif %} >Yes</option>
                <option value="No" {% if student.is_father_alive == 'No' %} selected {% endif %} >No</option>
              </select>
            </div>

            <div class="col-md-5">
              <label class="form-label">Father's/Parent Full Name</label>
              <input type="text" class="form-control" name="father_name" value="{{ student.father_name|default_if_none:'' }}" oninput="this.value = this.value.replace(/[^a-zA-Z\s]/g, '')" required>
            </div>

            <div class="col-md-5">
              <label class="form-label">Father Mobile No.</label>
              <input type="text" class="form-control" name="parent_mobile" value="{{ student.parent_mobile|default_if_none:'' }}" oninput="this.value = this.value.replace(/[^0-9]/g, '')" maxlength="10" required>
            </div>

            <div class="col-md-5">
              <label class="form-label">Mother's Full Name</label>
              <input type="text" class="form-control" name="mother_name" value="{{ student.mother_name|default_if_none:'' }}" oninput="this.value = this.value.replace(/[^a-zA-Z\s]/g, '')" required>
            </div>
            
            <div class="col-md-5">
              <label class="form-label">Mother Mobile No.</label>
              <input type="text" class="form-control" name="mother_mobile" value="{{ student.mother_mobile|default_if_none:'' }}" oninput="this.value = this.value.replace(/[^0-9]/g, '')" maxlength="10" required>
            </div>
          </div>
          
          <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary px-5" name="submit_parent_details">Submit</button>
          </div>
        </form>
      </div>

    </div>


