
      <style>
        .form-label {
          font-weight: 600;
        }
        .form-control, .form-select {
          border-radius: 8px;
        }
        .shadow {
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
        }
        .btn-primary {
          font-size: 1rem;
          font-weight: 600;
          border-radius: 8px;
        }
        .college_details{
          background-color: aquamarine;
        }
      </style>
      <div class="container mt-5 mb-5 p-4 shadow rounded bg-light">
        <form method="POST">
          {% csrf_token %}
          <input type="hidden" name="s_id" value="{{student.id}}">
          <div class="row g-3">
            <div class="col-md-5">
              <label class="form-label">How to Arrive College</label>
              <select class="form-select" name="come_to_college" required>
                <option value="">Select Type</option>
                <option value="Hostel" {% if student_college_details.how_to_arrive_college == 'Hostel' %} selected {% endif %} >Hostel</option>
                <option value="Dattakala_Travelling" {% if student_college_details.how_to_arrive_college == 'Dattakala_Travelling' %} selected {% endif %} >Dattakala Travelling</option>
                <option value="Self" {% if student_college_details.how_to_arrive_college == 'Self' %} selected {% endif %} >Self</option>
              </select>
            </div>
            
            <div class="col-md-5">
              <label class="form-label">College</label>
              <select class="form-select" name="college_id" onchange="get_college_branch(this.value)" required>
                <option value="">Select College</option>
                {% for c in colleges %}
                <option value="{{ c.id }}" {% if student_college_details.college == c %} selected {% endif %}>{{ c.name }}</option>
                {% endfor %}
              </select>
            </div>
            
            <div class="col-md-5">
              <label class="form-label">Admission Branch</label>
              <select class="form-select" name="branch_id" id="branch" required>
                {% if student_college_details.branch %}
                  <option value="{{student_college_details.branch_id}}">{{ student_college_details.branch.name }}</option>
                {% else %}
                  <option value="">Select College First</option>
                {% endif %}
              </select>
            </div>
            <div class="col-md-5">
              <label class="form-label">Current Year</label>
              <select class="form-select" name="year_id" id="" required>
                <option value="">Select</option>
                {% for y in years %}
                  <option value="{{ y.id }}" {% if student_college_details.year == y %} selected {% endif %}>{{ y.name }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="col-md-5">
              <label class="form-label">Year of Admission (first Year / Direct Second Year)</label>
              <select class="form-select" name="admission_year" required>
                <option>Select Year</option>
                {% for y in admission_year %}
                <option value="{{ y.year }}" {% if student_college_details.admission_year == y.year %} selected {% endif %} >{{ y.year }}</option>
                {% endfor %}
              </select>
            </div>
            
            <div class="col-md-5">
              <label class="form-label">Admission Quota</label>
              <select class="form-select" name="admission_quota">
                <option value="">Select Quota</option>
                <option value="Cap" {% if student_college_details.admission_quota == 'Cap' %} selected {% endif %}>Cap</option>
                <option value="Against_Cap" {% if student_college_details..admission_quota == 'Against_Cap' %} selected {% endif %}>Against Cap</option>
                <option value="EWS" {% if student_college_details.admission_quota == 'EWS' %} selected {% endif %}>EWS</option>
                <option value="TFWS" {% if student_college_details.admission_quota == 'TFWS' %} selected {% endif %}>TFWS</option>
                <option value="Management" {% if student_college_details.admission_quota == 'Management' %} selected {% endif %}>Management</option>
              </select>
            </div>

            <div class="col-md-5">
              <label class="form-label">Current Admission Type</label>
              <select class="form-select" name="current_admission_type">
                <option value="">Select Type</option>
                <option value="Provisional" {% if student_college_details.current_admission_type == 'Provisional' %} selected {% endif %}>Provisional</option>
                <option value="Confirm" {% if student_college_details.current_admission_type == 'Confirm' %} selected {% endif %}>Confirm</option>
              </select>
            </div>
          </div>
          
          <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary px-5" name="submit_college_details">Submit</button>
          </div>
        </form>
      </div>

    </div>


