<div class="video_box">
    <iframe width="360" height="200" 
    src="https://www.youtube.com/embed/zvz-9Ncmca8?si=OIbFUnAHk7w-jVca"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <iframe width="360" height="200" 
    src="https://www.youtube.com/embed/AnuTKG0C1Fw?si=lA5TPtkSONHTdCEg"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <iframe width="360" height="200" 
    src="https://www.youtube.com/embed/3QrNFi901Ek?si=oRINgizDPEZmItp2" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
