{% extends 'base.html' %}
{% block head %}
{% endblock head %}

{% block content %}
{% load static %}
{% include 'office/office_navbar.html' %}
{% include 'alert.html' %}

<br>
<style>
  .modal {
    margin-top: 50px;
  }
  .spinner-border {
    display: none;
  }
  table {
    width: 70%;
    border-collapse: collapse;
    margin: 50px auto;
  }
  tr:nth-of-type(odd) {
    background: #eee;
  }
  th {
    background: #3498db;
    color: white;
    font-weight: bold;
  }
  td, th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 18px;
  }
</style>

<div class="container">
  <!-- Add college Button -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Add_college">
    Add college
  </button>

  <!-- Add Modal -->
  <div class="modal fade" id="Add_college" tabindex="-1" aria-labelledby="AddModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="AddModalLabel">Add College</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="POST" onsubmit="document.getElementById('add_btn').style.display='none'; document.getElementById('addSpinner').style.display='inline-block';">
          {% csrf_token %}
          <div class="modal-body">
            <div class="mb-3">
              <label for="name">Name</label>
              <input type="text" name="name" value="{{ return_name }}" id="name" class="form-control" placeholder="Enter college Name" required>
            </div>
            <div class="spinner-border" role="status" id="addSpinner"></div>
          </div>
          <div class="modal-footer">
              <button type="submit" name="add_college" id="add_btn" class="btn btn-danger" >
                  Add
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- college Table -->
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>College Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for t in colleges %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ t.name }}</td>
        <td style="display: flex; gap: 5px;">
          <!-- Edit Button -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Edit_college{{ t.id }}">
            Edit
          </button>

          <!-- Status Form -->
          <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="college_id" value="{{ t.id }}">
            {% if t.status == 1 %}
              <button class="btn btn-success" type="submit" name="change_status">Active</button>
            {% else %}
              <button class="btn btn-danger" type="submit" name="change_status">Deactive</button>
            {% endif %}
          </form>
        </td>
      </tr>

      <!-- Edit Modal -->
      <div class="modal fade" id="Edit_college{{ t.id }}" tabindex="-1" aria-labelledby="EditModalLabel{{ t.id }}" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="EditModalLabel{{ t.id }}">Edit college</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" onsubmit="document.getElementById('edit_btn{{t.id}}').style.display='none'; document.getElementById('editSpinner{{ t.id }}').style.display='inline-block';">
              {% csrf_token %}
              <div class="modal-body">
                <input type="hidden" name="college_id" value="{{ t.id }}">
                <div class="mb-3">
                  <label for="name{{ t.id }}">Name</label>
                  <input type="text" name="name" id="name{{ t.id }}" value="{{ t.name }}" class="form-control" placeholder="Enter college Name" required>
                </div>
                <div class="spinner-border" role="status" id="editSpinner{{ t.id }}"></div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" name="edit_college" class="btn btn-danger" id="edit_btn{{t.id}}">
                  Save
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
