<style>
    .menu{
        display: flex;
        width: 100%;
        overflow: scroll;
        gap: 10px;
    }
    .account_btn{
        background-color: #FFC107 !important;
        color: white !important;
        outline: none;
        border-color: #FFC107 ;
        color: black !important;
    }
  </style>
  <div class="menu">
    <a  href="/dattakala_admin/credit/" class="my-1 {% if request.path == '/dattakala_admin/credit/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Credit</a>
    <a  href="/dattakala_admin/debit/" class="my-1 {% if request.path == '/dattakala_admin/debit/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Debit</a>
    <a  href="/dattakala_admin/admin_student_approval/" class="my-1 {% if request.path == '/dattakala_admin/admin_student_approval/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Approval</a>
  </div> 