<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<canvas class="img" id="qrCode"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>

<script>
  const qrCodeElement = document.getElementById('qrCode');
qrCodeElement.getContext('2d').clearRect(0, 0, qrCodeElement.width, qrCodeElement.height);
const qr = new QRious({
  element: qrCodeElement,
  value: `https://dattakala.com/self_registration_student/`,
  size: 200,
});
</script>
</body>
</html>